<!-- Top Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- Left Slider Button -->
        <button
            class="btn btn-dark me-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#leftSidebar"
            aria-controls="leftSidebar">
            ☰
        </button>

        <a class="navbar-brand" href="javascript:void(0)">
            <img style="height:40px;width:60px;" src="assets/logo.png" />
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">

            <!-- Left Menu -->
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/lessonhome"
                       routerLinkActive="active">
                        Home
                    </a>
                </li>

                @for (item of filteredMenus.filter((menu) => menu.mainMenu === ""); track $index) {
                    <li class="nav-item">
                        <a class="nav-link"
                           [routerLink]="'/' + item.routeName"
                           routerLinkActive="active">
                            {{item.label}}
                        </a>
                    </li>
                }

                @for (item of filteredMainMenus; track $index) {
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle"
                           role="button"
                           data-bs-toggle="dropdown">
                            {{item.menuName}}
                        </a>

                        <ul class="dropdown-menu">
                            @for (
                                item1 of filteredMenus.filter(
                                    (menu) => menu.mainMenu === item.menuName
                                );
                                track item1.label
                            ) {
                                <li>
                                    <a class="dropdown-item"
                                       [routerLink]="'/' + item1.routeName">
                                        {{item1.label}}
                                    </a>
                                </li>
                            }
                        </ul>

                    </li>
                }

                <!-- Lessons Dropdown -->
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       role="button"
                       data-bs-toggle="dropdown">
                        Lessons
                    </a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item" routerLink="/installation">
                                1. Installation
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/variables">
                                2. Variables
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/components">
                                3. Components
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/bindings">
                                4. Bindings
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/routing">
                                5. Routing
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/directives">
                                6. Directives
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/control-flows">
                                7. Control Flows
                            </a>
                        </li>

                        <!-- Forms Submenu -->
                        <li class="nav-item dropdown-submenu">

                            <a class="dropdown-item dropdown-toggle">
                                8. Forms
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item"
                                       routerLink="/template-forms">
                                        8a. Template Forms
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       routerLink="/reactive-forms">
                                        8b. Reactive Forms
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item"
                                       routerLink="/signal-forms">
                                        8c. Signal Forms
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/signals">
                                9. Signals
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/pipes">
                                10. Pipes
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/crud-ops">
                                11. CRUD Operations
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/reusable-comp">
                                12. Reusable Components
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="/custom-directives">
                                13. Custom Directives
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>

            <!-- Right Side -->
            <div class="d-flex align-items-center">

                <select
                    class="form-select"
                    [(ngModel)]="selectedRole"
                    (change)="changeSelectedRole()"
                    style="width: 150px; margin-right: 10px;">

                    <option value="Admin">Admin</option>
                    <option value="Employee">Employee</option>
                    <option value="Customer">Customer</option>

                </select>
                
                <form class="d-flex me-4">
                    <input
                        class="form-control me-2"
                        placeholder="Search">

                    <button class="btn btn-primary">
                        Search
                    </button>
                </form>

                <span class="navbar-text text-white me-3">
                    Hi {{userName}}
                </span>

                <a
                    class="nav-link text-white"
                    href="javascript:void(0)"
                    (click)="logout()">
                    Logout
                </a>

            </div>

        </div>
    </div>
</nav>


<!-- ================================= -->
<!-- LEFT SLIDER / OFFCANVAS MENU -->
<!-- ================================= -->

<div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="leftSidebar"
    aria-labelledby="leftSidebarLabel">

    <!-- Sidebar Header -->
    <div class="offcanvas-header bg-dark text-white">

        <h5 class="offcanvas-title" id="leftSidebarLabel">
            Menu
        </h5>

        <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas">
        </button>

    </div>


    <!-- Sidebar Body -->
    <div class="offcanvas-body p-0">

        <div class="list-group list-group-flush">

            <!-- Home -->
            <a
                class="list-group-item list-group-item-action"
                routerLink="/lessonhome"
                data-bs-dismiss="offcanvas">

                🏠 Home
            </a>


            <!-- Dynamic Menus -->
            @for (
                item of filteredMenus.filter(
                    (menu) => menu.mainMenu === ""
                );
                track $index
            ) {

                <a
                    class="list-group-item list-group-item-action"
                    [routerLink]="'/' + item.routeName"
                    data-bs-dismiss="offcanvas">

                    📄 {{item.label}}
                </a>
            }


            <!-- Dynamic Main Menus -->
            @for (item of filteredMainMenus; track $index) {

                <div class="sidebar-section">

                    <div class="sidebar-heading">
                        📁 {{item.menuName}}
                    </div>

                    @for (
                        item1 of filteredMenus.filter(
                            (menu) => menu.mainMenu === item.menuName
                        );
                        track item1.label
                    ) {

                        <a
                            class="list-group-item list-group-item-action ps-5"
                            [routerLink]="'/' + item1.routeName"
                            data-bs-dismiss="offcanvas">

                            {{item1.label}}
                        </a>
                    }

                </div>
            }


            <!-- Lessons -->
            <div class="sidebar-section">

                <div class="sidebar-heading">
                    📚 Lessons
                </div>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/installation"
                    data-bs-dismiss="offcanvas">
                    1. Installation
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/variables"
                    data-bs-dismiss="offcanvas">
                    2. Variables
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/components"
                    data-bs-dismiss="offcanvas">
                    3. Components
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/bindings"
                    data-bs-dismiss="offcanvas">
                    4. Bindings
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/routing"
                    data-bs-dismiss="offcanvas">
                    5. Routing
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/directives"
                    data-bs-dismiss="offcanvas">
                    6. Directives
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/control-flows"
                    data-bs-dismiss="offcanvas">
                    7. Control Flows
                </a>


                <!-- Forms -->
                <div class="sidebar-heading ps-5">
                    8. Forms
                </div>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/template-forms"
                    data-bs-dismiss="offcanvas">
                    8a. Template Forms
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/reactive-forms"
                    data-bs-dismiss="offcanvas">
                    8b. Reactive Forms
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/signal-forms"
                    data-bs-dismiss="offcanvas">
                    8c. Signal Forms
                </a>


                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/signals"
                    data-bs-dismiss="offcanvas">
                    9. Signals
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/pipes"
                    data-bs-dismiss="offcanvas">
                    10. Pipes
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/crud-ops"
                    data-bs-dismiss="offcanvas">
                    11. CRUD Operations
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/reusable-comp"
                    data-bs-dismiss="offcanvas">
                    12. Reusable Components
                </a>

                <a
                    class="list-group-item list-group-item-action ps-5"
                    routerLink="/custom-directives"
                    data-bs-dismiss="offcanvas">
                    13. Custom Directives
                </a>

            </div>

        </div>

    </div>

</div>


<!-- Page Content -->
<div class="container-fluid mt-3">
    <router-outlet></router-outlet>
</div>
